# Node / Nuxt
node_modules/
.nuxt/
.output/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Build / temp
*.log
*.tmp
